* {
	box-sizing: border-box;
}

.boxSection {
	padding: 0.5em;
	border: 0.2em solid black;
	justify-content: center;
	border-radius: 0.5em;

}

#menuButtonSection {
	display: flex;
	flex-wrap: nowrap;

}

#menuButtonSection button {
	margin: 1em;
	padding: 1em;

}

#teamViewButton {

}

#searchViewButton {

}

#reservButton {

}

#activeTeamSection {
	display:flex;
	flex-direction: column;
	border: 0.2em solid black;

}
.teamPokemonSection {
	display:flex;
	border: 0.2em solid black;
	padding: 2em;
	margin: 1em;

}

#searchAndBench {
	display: none;
	justify-content: center;
}

